
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.form-container{
  margin:0 auto; 
  width:529px;
  height: 541px;
  padding-top:15px;
  padding-bottom: 15px;;
  padding-left:29px;
  padding-right: 29px;
  color: white;
  background:#147DDA;
  }
  .fullname {
    width: 470px;
    height: 42px;
    background-color: #147DDA;
    border:solid 1px #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  